<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image: url(../../assets/hero_1.jpeg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="display-t js-fullheight">
                    <div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
                        <h1>Welcome</h1>
                        <h2><a href="/lab1" style="padding-right: 25px;">Lab1</a><a href="/lab2">Lab2</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>